@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Raleway:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --main-font: Montserrat, Poppins, Roboto, Raleway, sans-serif;
  --main-font-weight-thin: 300;
  --main-font-weight-semi-bold: 600;
  --main-box-shadow: 0 0.1px 1rem rgb(0 0 0 / 3%);
}

* {
  font-family: var(--main-font);
}

body {
  margin: 0;
  padding: 0;
}