
/* .row{
    margin-top: -20%;
    text-align: center;
  } */
.offers {
    margin-top: -14em;
}
.offers-title {
    text-align: center;
    font-family: 'Lucida Sans';
    font-size: medium;
}
.offers .row .content{
    min-height: 90vh;
}
.child-panel{
    width: 255px;
    height: 350px;
    background: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
    font-family: 'Lucida Sans';
    font-size: medium;
    margin: 5px 5px;
    /* display: flex; */
    /* align-items: center; */
    /* justify-items: center; */
    text-align: center;
    padding: 10px;
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}
#icon-case .img{
    display: flex;
    margin-top: auto;
    align-items: center;
}
#box{
    text-align: center;
    margin: auto;
}
.row.panel {
    padding: 10px !important; 
}
/* .stages {
    margin-top: -54em;
} */
.trimester-title {
    text-align: center;
    font-family: 'Lucida Sans';
    font-size: medium;
    margin-top: 1em;
}


footer{
    bottom: 0px;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.35),rgba(0,0,0,0.35));
    font-family: 'Lucida Sans';
  }
  .main-content{
    display: flex;
    font-size: small;
  }
  .main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;
  }
  .box h2{
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
  }
  .box .content{
    margin: 20px 0 0 0;
    position: relative;
  }
  
.box .content:before{
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
    background: #1a1a1a;
  }
  .center .content .text{
    font-size: small;
  }
.links .content .links {
    text-align: center;
}

.right form .text{
    font-size: 1rem;
    margin-bottom: 2px;
    color: #000;
  }
  .right form .msg{
    margin-top: 10px;
  }
  .right form input, .right form textarea{
    width: 100%;
    font-size: 1rem;
    padding-left: 10px;
    border: 1px solid #222222;
  }
  .right form input:focus,
  .right form textarea:focus{
    outline-color: #3498db;
  }
  .right form input{
    height: 30px;
  }
  .right form .btn{
    margin-top: -3px;
    text-align: right;
  }
  .right form .btn button{
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
  }
  @media screen and (max-width: 900px) {
    footer{
      position: relative;
      bottom: 0px;
    }
    .main-content{
      flex-wrap: wrap;
      flex-direction: column;
    }
    .main-content .box{
      margin: 5px 0;
    }
  }